body {
  font-family: "Microsoft YaHei";
  position: relative;
  background: #f8f8f8;
}
input:disabled,
input[disabled],
textarea:disabled {
  color: #666;
  -webkit-text-fill-color: #666;
  -webkit-opacity: 1;
  opacity: 1;
}
span {
  font-size: 0.6rem;
  color: #333;
}
::-webkit-input-placeholder {
  font-size: 0.56rem;
  color: #ccc;
}
input:focus {
  color: #666;
  caret-color: #666;
}
textarea {
  border-radius: 0;
  /* resize:none;*/
}
input {
  border-radius: 0;
  caret-color: #574e5f;
  -webkit-appearance: none;
  background: none;
  outline: none;
  border: none;
  line-height: normal;
  height: 1.6rem;
  font-size: 0.56rem;
}
#header {
  width: 15rem;
  height: 5.4rem;
  background: url(../images/checkOthers-bg.png);
  background-size: cover;
}
.licensedContent {
  width: 13.88rem;
  padding-bottom: 0.52rem;
  margin: 0 auto;
  margin-top: -4rem;
  background: #fff;
  border-radius: 0.1rem;
  margin-bottom: 0.44rem;
  z-index: 100;
}
.licensedContentTitle {
  display: flex;
  align-items: center;
  padding-top: 0.36rem;
}
.licensedContentTitle h2 {
  font-size: 0.6rem;
  font-weight: 400;
  color: #333;
}
.licensedContentTitle > img {
  float: left;
  width: 0.1rem;
  height: 0.62rem;
  margin: 0 0.24rem;
}
.licensedContent ul li {
  float: left;
  width: 33.33%;
  text-align: center;
  margin-top: 0.4rem;
}
.licensedContent ul li img {
  width: 1.46rem;
  height: 1.46rem;
}
.licensedContent ul li p {
  font-size: 0.52rem;
  color: #333;
}
.interval2 {
  margin-top: 1.12rem;
}
.lineWrap {
  padding: 0 .266667rem;
  margin-top: .48rem;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #eee;
}
.price span {
  float: right;
  margin-right: .533333rem;
  margin-top: .32rem;
  color: #fc9922;
}
/*基本信息*/
.basicWrap {
  background-color: #fff;
  padding-bottom: 1.08rem;
}
.basic {
  width: 13.88rem;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  padding-top: 0.76rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
}
.basic span {
  display: inline-block;
  width: 3.64rem;
  height: 1.12rem;
  line-height: 1.12rem;
}
.msg-authorize {
  color: #00adb4;
  border: 1px solid #00adb4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.msg-authorize.active,
.scan-authorize.active {
  background-color: #00adb4;
  color: #fff;
  border: 1px solid #00adb4;
}
.scan-authorize {
  color: #00adb4;
  border: 1px solid #00adb4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.basicForm label {
  width: 13.24rem;
  font-size: 0.6rem;
  color: #573e5f;
  height: 2.4rem;
  line-height: 2.4rem;
  display: inline-block;
  border-bottom: 1px solid #eee;
  background: #fff;
  margin-left: 0.32rem;
}
.basicForm.active,
.qrCode.active {
  display: none;
}
.qrCode {
  text-align: center;
}
#code {
  height: 115px;
}
.codrWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.12rem;
  height: 5.14rem;
  background: url(../images/code-bg.png) no-repeat;
  background-size: 5.12rem 5.14rem;
  margin: 0 auto;
}
#deForm {
  width: 13.88rem;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}
#deForm > div {
  width: 13.88rem;
  float: left;
  display: flex;
  align-items: center;
  background: #fff;
}
#deForm label {
  float: left;
  display: flex;
  align-items: center;
}
#deForm label i {
  float: left;
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 50%;
  margin: 0 0.44rem 0 0.28rem;
}
#deForm .icon1 {
  background: #00a2ea;
}
#deForm .icon2 {
  background: #f22ac6;
}
#deForm .icon3 {
  background: #00aeb4;
}
#deForm .icon4 {
  background: #ffaf3f;
}
#deForm label span {
  margin-right: 2.32rem;
}
.inpId {
  margin-right: 0.4rem !important;
}
.school {
  margin-right: 1rem !important;
}
.salary,
.jobInterview,
.inpTel {
  margin-right: 1rem !important;
}
#deForm label input {
  border: none;
  height: 1.6rem;
  outline: none;
  font-size: 0.56rem;
  color: #666;
}
.nextStep {
  width: 9rem;
  height: 1.48rem;
  line-height: 1.48rem;
  background-color: #00adb4;
  border-radius: 0.74rem;
  border: none;
  outline: none;
  font-size: 0.64rem;
  color: #fff;
  margin-top: 1.56rem;
}
.errorShow {
  border-bottom: 1px solid #00adb4!important;
}
.footer {
  padding-left: 1.12rem;
  margin-top: 0.92rem;
  margin-bottom: 3.6rem;
}
.footer p {
  font-size: 0.48rem;
  margin-bottom: 0.2rem;
  color: #fb9821;
}
/*loading*/
#loading {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -36px;
  z-index: 9992;
  display: none;
}
@-webkit-keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
@keyframes line-scale {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}
.line-scale > div:nth-child(1) {
  -webkit-animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.1s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(2) {
  -webkit-animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.2s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(3) {
  -webkit-animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.3s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(4) {
  -webkit-animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.4s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div:nth-child(5) {
  -webkit-animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: line-scale 1s 0.5s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.line-scale > div {
  background-color: #019fe6;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}
.zhezhao {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.2;
  display: none;
  z-index: 9000;
}
