* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei";
  position: relative;
  background: #f8f8f8;
}
input:disabled,
input[disabled],
textarea:disabled {
  color: #666;
  -webkit-text-fill-color: #666;
  -webkit-opacity: 1;
  opacity: 1;
}
span {
  font-size: 0.6rem;
  color: #333;
}
::-webkit-input-placeholder {
  font-size: 0.64rem;
  color: #9e9e9e;
}
input:focus {
  color: #666;
  caret-color: #666;
}
textarea {
  border-radius: 0;
}
input {
  border-radius: 0;
  caret-color: #574e5f;
  -webkit-appearance: none;
  background: none;
  outline: none;
  border: none;
  line-height: normal;
  height: 1.6rem;
  font-size: 0.56rem;
}
.wrap {
  background-color: #f8f8f8;
}
.header {
  text-align: center;
  font-size: 0.72rem;
  color: #333;
  padding: 0.48rem 0;
}
.search {
  display: flex;
  align-items: center;
  margin: 0.4rem auto;
}
.search > img {
  width: 0.56rem;
  margin-left: 0.72rem;
  margin-right: 0.36rem;
}
.search,
.search input {
  width: 13.8rem;
  height: 1.16rem;
  line-height: 1.16rem;
  background-color: #fff;
  border-radius: 0.58rem;
}
.list {
  padding: 0 0.6rem;
  margin-bottom: 3.6rem;
  margin-top: 0.6rem;
}
.list li {
  height: 2.76rem;
  background-color: #fff;
  margin-bottom: 0.3rem;
  border-radius: 5px;
}
.nameSidebar {
  float: left;
  width: 1.72rem;
  height: 1.72rem;
  line-height: 1.72rem;
  border-radius: 0.86rem;
  background-color: #00adb4;
  text-align: center;
  color: #fff;
  font-size: 0.56rem;
  margin: 0.48rem;
}
.content {
  float: left;
}
.content h3 {
  font-size: 0.6rem;
  color: #333;
  font-weight: normal;
  margin-top: 0.4rem;
}
.content p {
  font-size: 0.48rem;
  color: #9e9e9e;
}
.list-right {
  float: right;
  margin-right: 0.48rem;
  margin-top: 0.6rem;
}
.list-right span {
  display: inline-block;
  width: 3.16rem;
  font-size: 0.52rem;
  padding: 0.14rem 0;
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  text-align: center;
}
.list-right p {
  font-size: 0.4rem;
  color: #a7a7a7;
  margin-top: 0.2rem;
  text-align: center;
}
.red {
  color: #fa6c6a !important;
}
.green {
  color: #38d8b6 !important;
}
.orange {
  background-color: #feaf3f;
  color: #fff;
}
.list-right .orange {
  padding: 0.14rem 0.26rem;
  border: none;
}
.noData {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -3.96rem;
  top: 3rem;
}
.noData > img {
  width: 7.92rem;
}
.noData > p {
  font-size: 0.6rem;
  color: #666;
  text-align: center;
}
.noData.active {
  display: block;
}
.recharge-balance {
  width: 11rem;
  border: 1px solid #eeeeee;
  font-size: 0.64rem;
  text-indent: 2em;
}
